/****** PLACE YOUR CUSTOM STYLES HERE ******/
@import "themify-icons.css";
@import "font-awesome.min.css";
@import "et-line-icons.css";

.logo-db {
    width: 200px;
    height: auto;
}

.section-one {
    padding-bottom: 0;
}

.tab-images {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;*/
}

.tab-images li {
    padding: 5px;
    width: 300px;
    margin-right: 10%;
}

.tab-images img {
    display: block;
    margin: auto;
    width: 100%;
    height:auto;
}
.big-icon {
    padding: 20px;
    font-size: 3em;
}
.caption-link {
    color: white;
}
.header-link {
  position: absolute;
  top: 0;
  color: black;
  left: 50%;
  top: 30px;
  text-align: center;
}

.header-link__content {
  font-size: medium;
  position: relative;
  left: -50%;
}

.element {
  color: #4CCAAE !important;
}
.typed-cursor {
  color: #4CCAAE !important;
}
.pm_modal .reveal-modal {
  -webkit-transform: translate3d(0,0,0);
  position: absolute;
}

.right-aligned-elements {
  float: right;
  color: blue;
}
.right-aligned-elements a {
  font-size: medium;
  color: #113368;
}
.right-aligned-elements a:first-child {
  color: green;
}
.right-aligned-elements a:last-child {
  color: red;
  font-size: small;
  margin-left: 6 px;
}

.section-one {
  border-bottom: 1px solid #999;
  padding-top: 50px;
}

.select_inline {
  display: inline;
}

.orders_select {
  width: 50%;
  height: 40px;
}

.orders_button {
  width: auto !important;
  margin-bottom: 0 !important;
  height: 40px !important;
  line-height: 0 !important;
  margin-left: 10px;
}
