/****** PLACE YOUR CUSTOM STYLES HERE ******/
@import "themify-icons.css";
@import "font-awesome.min.css";
@import "et-line-icons.css";
@import "pe-icon-7-stroke.css";

.product_height {
	height: 370px;
}
.custom_alert {
	position: fixed;
	z-index: 10;
	padding: 10px 60px;
	background: #067f0c;
	color: white;
	top: 10px;
	right: 10px;
	display: none;
}
