#myModal {
  font-family: "Roboto", "Helvetica Neue";
}

#myModal a {
  font-weight: 600;
}

#myModal .modal-content{
  border-radius: 0;
}
#myModal .btn {
  margin-bottom: 0;
}
.custom_alert {
  display: none;
}
