@charset "UTF-8";

@font-face {
  font-family: "pm-social";
  src:url("../fonts/pm-social.eot");
  src:url("../fonts/pm-social.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pm-social.woff") format("woff"),
    url("../fonts/pm-social.ttf") format("truetype"),
    url("../fonts/pm-social.svg#pm-social") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="si-"]:before,
[class*=" si-"]:before {
  font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oi[data-glyph=instagram]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a";
}
.oi[data-glyph=youtube]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "b";
}
.oi[data-glyph=soundcloud]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "c";
}
.oi[data-glyph=spotify]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "d";
}
.oi[data-glyph=google]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "e";
}
.oi[data-glyph=dribbble]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "f";
}
.oi[data-glyph=behance]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "g";
}
.oi[data-glyph=twitter]:before {
font-family: "pm-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font_builder: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "h";
}
