@font-face {
	font-family: 'et-line';
	src:url('../fonts/et-line.eot');
	src:url('../fonts/et-line.eot?#iefix') format('embedded-opentype'),
		url('../fonts/et-line.woff') format('woff'),
		url('../fonts/et-line.ttf') format('truetype'),
		url('../fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'et-line';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font_builder: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.et-line-mobile, .et-line-laptop, .et-line-desktop, .et-line-tablet, .et-line-phone, .et-line-document, .et-line-documents, .et-line-search, .et-line-clipboard, .et-line-newspaper, .et-line-notebook, .et-line-book-open, .et-line-browser, .et-line-calendar, .et-line-presentation, .et-line-picture, .et-line-pictures, .et-line-video, .et-line-camera, .et-line-printer, .et-line-toolbox, .et-line-briefcase, .et-line-wallet, .et-line-gift, .et-line-bargraph, .et-line-grid, .et-line-expand, .et-line-focus, .et-line-edit, .et-line-adjustments, .et-line-ribbon, .et-line-hourglass, .et-line-lock, .et-line-megaphone, .et-line-shield, .et-line-trophy, .et-line-flag, .et-line-map, .et-line-puzzle, .et-line-basket, .et-line-envelope, .et-line-streetsign, .et-line-telescope, .et-line-gears, .et-line-key, .et-line-paperclip, .et-line-attachment, .et-line-pricetags, .et-line-lightbulb, .et-line-layers, .et-line-pencil, .et-line-tools, .et-line-tools-2, .et-line-scissors, .et-line-paintbrush, .et-line-magnifying-glass, .et-line-circle-compass, .et-line-linegraph, .et-line-mic, .et-line-strategy, .et-line-beaker, .et-line-caution, .et-line-recycle, .et-line-anchor, .et-line-profile-male, .et-line-profile-female, .et-line-bike, .et-line-wine, .et-line-hotairballoon, .et-line-globe, .et-line-genius, .et-line-map-pin, .et-line-dial, .et-line-chat, .et-line-heart, .et-line-cloud, .et-line-upload, .et-line-download, .et-line-target, .et-line-hazardous, .et-line-piechart, .et-line-speedometer, .et-line-global, .et-line-compass, .et-line-lifesaver, .et-line-clock, .et-line-aperture, .et-line-quote, .et-line-scope, .et-line-alarmclock, .et-line-refresh, .et-line-happy, .et-line-sad, .et-line-facebook, .et-line-twitter, .et-line-googleplus, .et-line-rss, .et-line-tumblr, .et-line-linkedin, .et-line-dribbble {
	font-family: 'et-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font_builder: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}
.et-line-mobile:before {
	content: "\e000";
}
.et-line-laptop:before {
	content: "\e001";
}
.et-line-desktop:before {
	content: "\e002";
}
.et-line-tablet:before {
	content: "\e003";
}
.et-line-phone:before {
	content: "\e004";
}
.et-line-document:before {
	content: "\e005";
}
.et-line-documents:before {
	content: "\e006";
}
.et-line-search:before {
	content: "\e007";
}
.et-line-clipboard:before {
	content: "\e008";
}
.et-line-newspaper:before {
	content: "\e009";
}
.et-line-notebook:before {
	content: "\e00a";
}
.et-line-book-open:before {
	content: "\e00b";
}
.et-line-browser:before {
	content: "\e00c";
}
.et-line-calendar:before {
	content: "\e00d";
}
.et-line-presentation:before {
	content: "\e00e";
}
.et-line-picture:before {
	content: "\e00f";
}
.et-line-pictures:before {
	content: "\e010";
}
.et-line-video:before {
	content: "\e011";
}
.et-line-camera:before {
	content: "\e012";
}
.et-line-printer:before {
	content: "\e013";
}
.et-line-toolbox:before {
	content: "\e014";
}
.et-line-briefcase:before {
	content: "\e015";
}
.et-line-wallet:before {
	content: "\e016";
}
.et-line-gift:before {
	content: "\e017";
}
.et-line-bargraph:before {
	content: "\e018";
}
.et-line-grid:before {
	content: "\e019";
}
.et-line-expand:before {
	content: "\e01a";
}
.et-line-focus:before {
	content: "\e01b";
}
.et-line-edit:before {
	content: "\e01c";
}
.et-line-adjustments:before {
	content: "\e01d";
}
.et-line-ribbon:before {
	content: "\e01e";
}
.et-line-hourglass:before {
	content: "\e01f";
}
.et-line-lock:before {
	content: "\e020";
}
.et-line-megaphone:before {
	content: "\e021";
}
.et-line-shield:before {
	content: "\e022";
}
.et-line-trophy:before {
	content: "\e023";
}
.et-line-flag:before {
	content: "\e024";
}
.et-line-map:before {
	content: "\e025";
}
.et-line-puzzle:before {
	content: "\e026";
}
.et-line-basket:before {
	content: "\e027";
}
.et-line-envelope:before {
	content: "\e028";
}
.et-line-streetsign:before {
	content: "\e029";
}
.et-line-telescope:before {
	content: "\e02a";
}
.et-line-gears:before {
	content: "\e02b";
}
.et-line-key:before {
	content: "\e02c";
}
.et-line-paperclip:before {
	content: "\e02d";
}
.et-line-attachment:before {
	content: "\e02e";
}
.et-line-pricetags:before {
	content: "\e02f";
}
.et-line-lightbulb:before {
	content: "\e030";
}
.et-line-layers:before {
	content: "\e031";
}
.et-line-pencil:before {
	content: "\e032";
}
.et-line-tools:before {
	content: "\e033";
}
.et-line-tools-2:before {
	content: "\e034";
}
.et-line-scissors:before {
	content: "\e035";
}
.et-line-paintbrush:before {
	content: "\e036";
}
.et-line-magnifying-glass:before {
	content: "\e037";
}
.et-line-circle-compass:before {
	content: "\e038";
}
.et-line-linegraph:before {
	content: "\e039";
}
.et-line-mic:before {
	content: "\e03a";
}
.et-line-strategy:before {
	content: "\e03b";
}
.et-line-beaker:before {
	content: "\e03c";
}
.et-line-caution:before {
	content: "\e03d";
}
.et-line-recycle:before {
	content: "\e03e";
}
.et-line-anchor:before {
	content: "\e03f";
}
.et-line-profile-male:before {
	content: "\e040";
}
.et-line-profile-female:before {
	content: "\e041";
}
.et-line-bike:before {
	content: "\e042";
}
.et-line-wine:before {
	content: "\e043";
}
.et-line-hotairballoon:before {
	content: "\e044";
}
.et-line-globe:before {
	content: "\e045";
}
.et-line-genius:before {
	content: "\e046";
}
.et-line-map-pin:before {
	content: "\e047";
}
.et-line-dial:before {
	content: "\e048";
}
.et-line-chat:before {
	content: "\e049";
}
.et-line-heart:before {
	content: "\e04a";
}
.et-line-cloud:before {
	content: "\e04b";
}
.et-line-upload:before {
	content: "\e04c";
}
.et-line-download:before {
	content: "\e04d";
}
.et-line-target:before {
	content: "\e04e";
}
.et-line-hazardous:before {
	content: "\e04f";
}
.et-line-piechart:before {
	content: "\e050";
}
.et-line-speedometer:before {
	content: "\e051";
}
.et-line-global:before {
	content: "\e052";
}
.et-line-compass:before {
	content: "\e053";
}
.et-line-lifesaver:before {
	content: "\e054";
}
.et-line-clock:before {
	content: "\e055";
}
.et-line-aperture:before {
	content: "\e056";
}
.et-line-quote:before {
	content: "\e057";
}
.et-line-scope:before {
	content: "\e058";
}
.et-line-alarmclock:before {
	content: "\e059";
}
.et-line-refresh:before {
	content: "\e05a";
}
.et-line-happy:before {
	content: "\e05b";
}
.et-line-sad:before {
	content: "\e05c";
}
.et-line-facebook:before {
	content: "\e05d";
}
.et-line-twitter:before {
	content: "\e05e";
}
.et-line-googleplus:before {
	content: "\e05f";
}
.et-line-rss:before {
	content: "\e060";
}
.et-line-tumblr:before {
	content: "\e061";
}
.et-line-linkedin:before {
	content: "\e062";
}
.et-line-dribbble:before {
	content: "\e063";
}
